<% hide_message_form ||= false %>
<% messages ||= conversation.messages.oldest %>
<% heading ||= nil %>
<% heading ||= "Start a conversation about this below!" if messages.empty? %>
<% @message ||= Conversations::Message.new(conversation: conversation) unless hide_message_form %>
<% conversation.mark_read_for_membership(current_membership) %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, heading || t('.header') %>
  <% p.content_for :body do %>
    <div class="relative"
      data-controller="reply"
      data-action="click->reply#hideReplyButton"
      >
      <div class="absolute top-0 bottom-52 sm:bottom-40 left-0 right-0 flex items-end transition-opacity opacity-0 duration-300 z-10 hidden px-3" id="replyFocus" data-reply-target="focus"
        data-action="click->reply#cancel"
        >
        <%= turbo_frame_tag "focus-reply" %>
      </div>
      <%= updates_for conversation, :messages do  %>
        <div id="messages_<%= conversation.id %>" class="flex flex-col p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch relative">
          <%= turbo_frame_tag "messages" do %>
            <div>
              <div class="">
                <% messages.each_with_index do |message, index| %>
                  <%= render 'account/shared/conversations/message', message: message, next_message: messages[index + 1] %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
        <% unless hide_message_form %>
          <div class="chat-controls">
            <%= form_with(model: [:account, conversation, @message], remote: true, class: 'new-message-form', data: {controller: "form", action: "submit->form#stripTrix turbo:submit-end->form#resetOnSuccess turbo:submit-end->reply#cancel"}) do |form| %>
              <%= form.hidden_field :parent_message_id, value: nil, data: { "reply-target": "parentMessage" } %>
              <%= render 'shared/forms/errors', form: form %>
              <div class="chat-input relative">
                <%= render 'shared/fields/trix_editor', form: form, method: :body, options: {placeholder: 'Type your message here ...', style: 'min-height: inherit;', autofocus: true, data: {action: 'keydown->form#submitOnReturn', "form-target": "trixField", "reply-target": "input"}, class: "pt-5 pb-5 pl-5 pr-20 rounded-lg z-0 focus:shadow focus:outline-none"}, other_options: {hide_label: true} do |p| %>
                  <% p.content_for :submit_button do %>
                    <button type="submit" class="h-10 w-10 absolute inline-flex items-center justify-center rounded-full transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none bottom-2 right-2">
                      <i class="ti ti-arrow-up"></i>
                    </button>
                  <% end %>
                <% end %>
                <div class="mt-1.5 text-xs text-gray-500 hidden opacity-0 transition-opacity duration-300 flex items-center" data-reply-target="replyDescription">
                  <span>Replying to a message</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 stroke-current mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                  </svg>
                  <button class="text-blue-400 hover:text-blue-500" data-action="reply#cancel">cancel</button>
                </div>
              </div>
              <div class="chat-input-extra">
                <div class="chat-btn">
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
