<div class="element-box">
  <h5 class="form-header"><%= t('.header') %></h5>
  <div class="form-desc"><%= raw conversations.any? ? t('.description') : t('.description_empty') %></div>
  <div class="table-responsive">
    <% if conversations.any? %>
      <table class="table table-lightborder" data-class="Conversation">
        <thead>
          <tr>
            <th><%= t('conversations.fields.last_message_at.label') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% conversations.each do |conversation| %>
          <tr data-id="<%= conversation.id %>">
            <td><%= link_to conversation.last_message_at, [:account, conversation] %></td>
            <%# 🚅 super scaffolding will insert new fields above this line. %>
            <td><%= display_date_and_time(conversation.created_at) %></td>
            <td class="text-right">
              <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, conversation], class: 'btn btn-link btn-sm' if can? :edit, conversation %>
              <%= link_to t('.buttons.shorthand.destroy'), [:account, conversation], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(conversation)) }, class: 'btn btn-link btn-sm' if can? :destroy, conversation %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= link_to t('.buttons.new'), [:new, :account, @parent, :conversation], class: 'btn btn-primary' if can? :create, @parent.conversations.new %>

  </div>
</div>
